extends layout

block content
  h1= title
  - let create = `dispatch(\"/create/create")`
  button.btn(class="btn-primary m1-1", onclick=create) Create
  - let IceCreams=results
  div(class="container-fluid")
    div(class="row m-1")
      each IceCream in IceCreams
        - let destination = `dispatch(\"/update/update?id=${IceCream._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{IceCream.IceCreamName} - #{IceCream.Price} - #{IceCream.Quantity}
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= detail) detail
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= delete) delete
  script.
      function dispatch(path)
      {
      window.location.href=path
      }   