extends layout

block content
  h1= title

    - let IceCreamid = toShow._id
    - let IceCreamName = toShow.IceCreamName
    - let IceCreamPrice = toShow.Price
    - let IceCreamQuantity = toShow.Quantity
    div
      div.row
        div(class='IceCreamAttr mr-3') IceCream ID is:          
        div #{IceCreamid}
      div.row
        div(class='IceCreamAttr mr-3') IceCream Name is:       
        div #{IceCreamName}
      div.row
        div(class='IceCreamAttr mr-3') IceCream Price is:
        div #{IceCreamPrice}
      div.row
        div(class='IceCreamAttr mr-3') IceCream Quantity is:
        div #{IceCreamQuantity}